In [3]:
pip install tableone

Requirement already satisfied: tableone in /workspaces/machine-learning-python-template/.venv/lib/python3.10/site-packages (0.9.1)
Requirement already satisfied: jinja2>=3.1.4 in /workspaces/machine-learning-python-template/.venv/lib/python3.10/site-packages (from tableone) (3.1.5)
Requirement already satisfied: numpy>=1.19.1 in /workspaces/machine-learning-python-template/.venv/lib/python3.10/site-packages (from tableone) (2.2.2)
Requirement already satisfied: openpyxl>=3.1.2 in /workspaces/machine-learning-python-template/.venv/lib/python3.10/site-packages (from tableone) (3.1.5)
Requirement already satisfied: pandas>=2.0.3 in /workspaces/machine-learning-python-template/.venv/lib/python3.10/site-packages (from tableone) (2.2.3)
Requirement already satisfied: scipy>=1.10.1 in /workspaces/machine-learning-python-template/.venv/lib/python3.10/site-packages (from tableone) (1.15.1)
Requirement already satisfied: statsmodels>=0.14.1 in /workspaces/machine-learning-python-template/.venv/lib/python3.10/site-packages (from tableone) (0.14.4)
Requirement already satisfied: tabulate>=0.9.0 in /workspaces/machine-learning-python-template/.venv/lib/python3.10/site-packages (from tableone) (0.9.0)
Requirement already satisfied: MarkupSafe>=2.0 in /workspaces/machine-learning-python-template/.venv/lib/python3.10/site-packages (from jinja2>=3.1.4->tableone) (3.0.2)
Requirement already satisfied: et-xmlfile in /workspaces/machine-learning-python-template/.venv/lib/python3.10/site-packages (from openpyxl>=3.1.2->tableone) (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /workspaces/machine-learning-python-template/.venv/lib/python3.10/site-packages (from pandas>=2.0.3->tableone) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /workspaces/machine-learning-python-template/.venv/lib/python3.10/site-packages (from pandas>=2.0.3->tableone) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /workspaces/machine-learning-python-template/.venv/lib/python3.10/site-packages (from pandas>=2.0.3->tableone) (2025.1)
Requirement already satisfied: patsy>=0.5.6 in /workspaces/machine-learning-python-template/.venv/lib/python3.10/site-packages (from statsmodels>=0.14.1->tableone) (1.0.1)
Requirement already satisfied: packaging>=21.3 in /workspaces/machine-learning-python-template/.venv/lib/python3.10/site-packages (from statsmodels>=0.14.1->tableone) (24.2)
Requirement already satisfied: six>=1.5 in /workspaces/machine-learning-python-template/.venv/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas>=2.0.3->tableone) (1.17.0)

[notice] A new release of pip is available: 25.0 -> 25.0.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import LinearRegression, Ridge,Lasso
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler, MinMaxScaler
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import ElasticNet
from sklearn.model_selection import KFold
from tableone import TableOne
from scipy import stats

In [2]:
url = 'https://raw.githubusercontent.com/4GeeksAcademy/regularized-linear-regression-project-tutorial/main/demographic_health_data.csv'

df = pd.read_csv(url)
df

,fips,TOT_POP,0-9,0-9 y/o % of total pop,19-Oct,10-19 y/o % of total pop,20-29,20-29 y/o % of total pop,30-39,30-39 y/o % of total pop,...,COPD_number,diabetes_prevalence,diabetes_Lower 95% CI,diabetes_Upper 95% CI,diabetes_number,CKD_prevalence,CKD_Lower 95% CI,CKD_Upper 95% CI,CKD_number,Urban_rural_code
0,1001,55601,6787,12.206615,7637,13.735364,6878,12.370281,7089,12.749771,...,3644,12.9,11.9,13.8,5462,3.1,2.9,3.3,1326,3
1,1003,218022,24757,11.355276,26913,12.344167,23579,10.814964,25213,11.564429,...,14692,12.0,11.0,13.1,20520,3.2,3.0,3.5,5479,4
2,1005,24881,2732,10.980266,2960,11.896628,3268,13.134520,3201,12.865239,...,2373,19.7,18.6,20.6,3870,4.5,4.2,4.8,887,6
3,1007,22400,2456,10.964286,2596,11.589286,3029,13.522321,3113,13.897321,...,1789,14.1,13.2,14.9,2511,3.3,3.1,3.6,595,2
4,1009,57840,7095,12.266598,7570,13.087828,6742,11.656293,6884,11.901798,...,4661,13.5,12.6,14.5,6017,3.4,3.2,3.7,1507,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3135,56037,43051,6104,14.178532,6326,14.694200,5359,12.448027,6577,15.277229,...,2098,8.9,8.3,9.6,2834,2.6,2.4,2.8,821,5
3136,56039,23081,2384,10.328842,2185,9.466661,2967,12.854729,4093,17.733200,...,928,7.2,6.5,8.0,1360,2.4,2.2,2.6,447,5
3137,56041,20299,3121,15.375142,3205,15.788955,2153,10.606434,2702,13.311001,...,1163,10.4,9.5,11.2,1500,3.0,2.8,3.2,430,5
3138,56043,7885,858,10.881420,1113,14.115409,715,9.067850,903,11.452124,...,506,11.3,10.3,12.1,686,3.4,3.2,3.7,207,6
3139,56045,6967,780,11.195637,779,11.181283,681,9.774652,906,13.004162,...,480,11.7,10.7,12.7,644,3.4,3.1,3.6,185,6

In [7]:
for col in df.columns:
    print(df[col].isna().sum())

0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0

In [8]:
df.describe()

,fips,TOT_POP,0-9,0-9 y/o % of total pop,19-Oct,10-19 y/o % of total pop,20-29,20-29 y/o % of total pop,30-39,30-39 y/o % of total pop,...,COPD_number,diabetes_prevalence,diabetes_Lower 95% CI,diabetes_Upper 95% CI,diabetes_number,CKD_prevalence,CKD_Lower 95% CI,CKD_Upper 95% CI,CKD_number,Urban_rural_code
count,3140.000000,3.140000e+03,3.140000e+03,3140.000000,3.140000e+03,3140.000000,3.140000e+03,3140.000000,3.140000e+03,3140.000000,...,3140.000000,3140.000000,3140.000000,3140.000000,3140.000000,3140.000000,3140.000000,3140.000000,3140.000000,3140.000000
mean,30401.640764,1.041894e+05,1.274030e+04,11.871051,1.336798e+04,12.694609,1.446933e+04,12.283979,1.391649e+04,11.751535,...,5827.242357,13.073503,12.088089,14.053726,9326.577707,3.446242,3.207516,3.710478,2466.234076,4.635350
std,15150.559265,3.335834e+05,4.180730e+04,2.124081,4.228439e+04,1.815044,4.957773e+04,3.126297,4.899095e+04,1.696599,...,15720.551934,2.724351,2.622948,2.824828,29754.601185,0.568059,0.527740,0.613069,7730.422067,1.510447
min,1001.000000,8.800000e+01,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,1.100000e+01,6.092789,...,7.000000,6.100000,5.500000,6.700000,11.000000,1.800000,1.700000,1.900000,3.000000,1.000000
25%,18180.500000,1.096325e+04,1.280500e+03,10.594639,1.374500e+03,11.674504,1.263750e+03,10.496774,1.232750e+03,10.689322,...,815.000000,11.200000,10.300000,12.100000,1187.750000,3.100000,2.900000,3.300000,314.750000,3.000000
50%,29178.000000,2.580050e+04,3.057000e+03,11.802727,3.274000e+03,12.687422,3.108000e+03,11.772649,3.000500e+03,11.580861,...,1963.500000,12.800000,11.800000,13.800000,2743.000000,3.400000,3.200000,3.700000,718.000000,5.000000
75%,45081.500000,6.791300e+04,8.097000e+03,12.951840,8.822250e+03,13.659282,8.976250e+03,13.182260,8.314250e+03,12.639379,...,4727.000000,14.800000,13.700000,15.900000,6679.250000,3.800000,3.500000,4.100000,1776.250000,6.000000
max,56045.000000,1.010552e+07,1.208253e+06,25.460677,1.239139e+06,23.304372,1.557073e+06,37.570198,1.501844e+06,22.225129,...,434075.000000,25.600000,24.200000,27.000000,952335.000000,6.200000,5.800000,6.600000,237766.000000,6.000000